stash.hahn1.one {
    reverse_proxy 127.0.0.1:8334
}

collabora.hahn1.one {
    reverse_proxy 127.0.0.1:9980
}

dav.hahn1.one {
    reverse_proxy 127.0.0.1:6065
}

vw.hahn1.one {
    reverse_proxy 127.0.0.1:8001
}

memos.hahn1.one {
    reverse_proxy 127.0.0.1:5230
}

dash.hahn1.one {
    reverse_proxy 127.0.0.1:8002
}

git.hahn1.one {
    reverse_proxy 127.0.0.1:3000
}
